=begin
MilMove Prime API

The Prime API is a RESTful API that enables the Prime contractor to request information about upcoming moves, update the details and status of those moves, and make payment requests. It uses Mutual TLS for authentication procedures.  All endpoints are located at `/prime/v1/`. 

The version of the OpenAPI document: 0.0.1
Contact: milmove-developers@caci.com
Generated by: https://github.com/openapitools/openapi-generator.git

=end
class MoveTaskOrderController < ApplicationController

  def create_excess_weight_record
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def download_move_order
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def get_move_task_order
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def list_moves
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_mto_post_counseling_information
    # Your code here

    render json: {"message" => "yes, it worked"}
  end
end
