=begin
MilMove Prime API

The Prime API is a RESTful API that enables the Prime contractor to request information about upcoming moves, update the details and status of those moves, and make payment requests. It uses Mutual TLS for authentication procedures.  All endpoints are located at `/prime/v1/`. 

The version of the OpenAPI document: 0.0.1
Contact: milmove-developers@caci.com
Generated by: https://github.com/openapitools/openapi-generator.git

=end
class MtoShipmentController < ApplicationController

  def create_mto_agent
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def create_mto_shipment
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def create_sit_extension
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def delete_mto_shipment
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_mto_agent
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_mto_shipment
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_mto_shipment_address
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_mto_shipment_status
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_reweigh
    # Your code here

    render json: {"message" => "yes, it worked"}
  end

  def update_shipment_destination_address
    # Your code here

    render json: {"message" => "yes, it worked"}
  end
end
