=begin
#MilMove Prime API

#The Prime API is a RESTful API that enables the Prime contractor to request information about upcoming moves, update the details and status of those moves, and make payment requests. It uses Mutual TLS for authentication procedures.  All endpoints are located at `/prime/v1/`. 

The version of the OpenAPI document: 0.0.1
Contact: milmove-developers@caci.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class MtoShipmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # createMTOAgent
    # ### Functionality This endpoint is used to **create** and add agents for an existing MTO Shipment. Only the fields being modified need to be sent in the request body.  ### Errors The agent must always have a name and at least one method of contact (either `email` or `phone`).  The agent must be associated with the MTO shipment passed in the url.  The shipment should be associated with an MTO that is available to the Pime. If the caller requests a new agent, and the shipment is not on an available MTO, the caller will receive a **NotFound** response. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param body [MTOAgent] 
    # @param [Hash] opts the optional parameters
    # @return [MTOAgent]
    def create_mto_agent(mto_shipment_id, body, opts = {})
      data, _status_code, _headers = create_mto_agent_with_http_info(mto_shipment_id, body, opts)
      data
    end

    # createMTOAgent
    # ### Functionality This endpoint is used to **create** and add agents for an existing MTO Shipment. Only the fields being modified need to be sent in the request body.  ### Errors The agent must always have a name and at least one method of contact (either &#x60;email&#x60; or &#x60;phone&#x60;).  The agent must be associated with the MTO shipment passed in the url.  The shipment should be associated with an MTO that is available to the Pime. If the caller requests a new agent, and the shipment is not on an available MTO, the caller will receive a **NotFound** response. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param body [MTOAgent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MTOAgent, Integer, Hash)>] MTOAgent data, response status code and response headers
    def create_mto_agent_with_http_info(mto_shipment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.create_mto_agent ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.create_mto_agent"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.create_mto_agent"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/agents'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MTOAgent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.create_mto_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#create_mto_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # createMTOShipment
    # _[Deprecated: sunset on 2024-04-08]_ This endpoint is deprecated and will be removed in a future version. Please use the new endpoint at `/prime/v2/createMTOShipment` instead.  Creates a new shipment within the specified move. This endpoint should be used whenever the movers identify a need for an additional shipment. The new shipment will be submitted to the TOO for review, and the TOO must approve it before the contractor can proceed with billing.  **WIP**: The Prime should be notified by a push notification whenever the TOO approves a shipment connected to one of their moves. Otherwise, the Prime can fetch the related move using the [getMoveTaskOrder](#operation/getMoveTaskOrder) endpoint and see if this shipment has the status `\"APPROVED\"`. 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateMTOShipment] :body 
    # @return [MTOShipment]
    def create_mto_shipment(opts = {})
      data, _status_code, _headers = create_mto_shipment_with_http_info(opts)
      data
    end

    # createMTOShipment
    # _[Deprecated: sunset on 2024-04-08]_ This endpoint is deprecated and will be removed in a future version. Please use the new endpoint at &#x60;/prime/v2/createMTOShipment&#x60; instead.  Creates a new shipment within the specified move. This endpoint should be used whenever the movers identify a need for an additional shipment. The new shipment will be submitted to the TOO for review, and the TOO must approve it before the contractor can proceed with billing.  **WIP**: The Prime should be notified by a push notification whenever the TOO approves a shipment connected to one of their moves. Otherwise, the Prime can fetch the related move using the [getMoveTaskOrder](#operation/getMoveTaskOrder) endpoint and see if this shipment has the status &#x60;\&quot;APPROVED\&quot;&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateMTOShipment] :body 
    # @return [Array<(MTOShipment, Integer, Hash)>] MTOShipment data, response status code and response headers
    def create_mto_shipment_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.create_mto_shipment ...'
      end
      # resource path
      local_var_path = '/mto-shipments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MTOShipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.create_mto_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#create_mto_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # createSITExtension
    # ### Functionality This endpoint creates a storage in transit (SIT) extension request for a shipment. A SIT extension request is a request an increase in the shipment day allowance for the number of days a shipment is allowed to be in SIT. The total SIT day allowance includes time spent in both origin and destination SIT. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param body [CreateSITExtension] 
    # @param [Hash] opts the optional parameters
    # @return [SITExtension]
    def create_sit_extension(mto_shipment_id, body, opts = {})
      data, _status_code, _headers = create_sit_extension_with_http_info(mto_shipment_id, body, opts)
      data
    end

    # createSITExtension
    # ### Functionality This endpoint creates a storage in transit (SIT) extension request for a shipment. A SIT extension request is a request an increase in the shipment day allowance for the number of days a shipment is allowed to be in SIT. The total SIT day allowance includes time spent in both origin and destination SIT. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param body [CreateSITExtension] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SITExtension, Integer, Hash)>] SITExtension data, response status code and response headers
    def create_sit_extension_with_http_info(mto_shipment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.create_sit_extension ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.create_sit_extension"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.create_sit_extension"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/sit-extensions'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SITExtension'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.create_sit_extension",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#create_sit_extension\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # deleteMTOShipment
    # ### Functionality This endpoint deletes an individual shipment by ID.  ### Errors * The mtoShipment should be associated with an MTO that is available to prime. * The mtoShipment must be a PPM shipment. * Counseling should not have already been completed for the associated MTO. 
    # @param mto_shipment_id [String] UUID of the shipment to be deleted
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_mto_shipment(mto_shipment_id, opts = {})
      delete_mto_shipment_with_http_info(mto_shipment_id, opts)
      nil
    end

    # deleteMTOShipment
    # ### Functionality This endpoint deletes an individual shipment by ID.  ### Errors * The mtoShipment should be associated with an MTO that is available to prime. * The mtoShipment must be a PPM shipment. * Counseling should not have already been completed for the associated MTO. 
    # @param mto_shipment_id [String] UUID of the shipment to be deleted
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_mto_shipment_with_http_info(mto_shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.delete_mto_shipment ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.delete_mto_shipment"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.delete_mto_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#delete_mto_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateMTOAgent
    # ### Functionality This endpoint is used to **update** the agents for an MTO Shipment. Only the fields being modified need to be sent in the request body.  ### Errors: The agent must always have a name and at least one method of contact (either `email` or `phone`).  The agent must be associated with the MTO shipment passed in the url.  The shipment should be associated with an MTO that is available to the Prime. If the caller requests an update to an agent, and the shipment is not on an available MTO, the caller will receive a **NotFound** response. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param agent_id [String] UUID of the agent being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [MTOAgent] 
    # @param [Hash] opts the optional parameters
    # @return [MTOAgent]
    def update_mto_agent(mto_shipment_id, agent_id, if_match, body, opts = {})
      data, _status_code, _headers = update_mto_agent_with_http_info(mto_shipment_id, agent_id, if_match, body, opts)
      data
    end

    # updateMTOAgent
    # ### Functionality This endpoint is used to **update** the agents for an MTO Shipment. Only the fields being modified need to be sent in the request body.  ### Errors: The agent must always have a name and at least one method of contact (either &#x60;email&#x60; or &#x60;phone&#x60;).  The agent must be associated with the MTO shipment passed in the url.  The shipment should be associated with an MTO that is available to the Prime. If the caller requests an update to an agent, and the shipment is not on an available MTO, the caller will receive a **NotFound** response. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param agent_id [String] UUID of the agent being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [MTOAgent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MTOAgent, Integer, Hash)>] MTOAgent data, response status code and response headers
    def update_mto_agent_with_http_info(mto_shipment_id, agent_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_mto_agent ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_mto_agent"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling MtoShipmentApi.update_mto_agent"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_mto_agent"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_mto_agent"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/agents/{agentID}'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s)).sub('{' + 'agentID' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MTOAgent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_mto_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_mto_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateMTOShipment
    # _[Deprecated: sunset on August 5th, 2024]_ This endpoint is deprecated and will be removed in a future version. Please use the new endpoint at `/prime/v2/updateMTOShipment` instead.  **DEPRECATION ON AUGUST 5TH, 2024** Following deprecation, there is an edge case scenario where a PPM shipment with no addresses could be updated and it would also update the final destination SIT address for SIT service items. This edge case has been removed as you should not be able to update items using this endpoint. Third-party APIs have confirmed they will require deprecation for this change.  Updates an existing shipment for a move.  Note that there are some restrictions on nested objects:  * Service items: You cannot add or update service items using this endpoint. Please use [createMTOServiceItem](#operation/createMTOServiceItem) and [updateMTOServiceItem](#operation/updateMTOServiceItem) instead. * Agents: You cannot add or update agents using this endpoint. Please use [createMTOAgent](#operation/createMTOAgent) and [updateMTOAgent](#operation/updateMTOAgent) instead. * Addresses: You can add new addresses using this endpoint (and must use this endpoint to do so), but you cannot update existing ones. Please use [updateMTOShipmentAddress](#operation/updateMTOShipmentAddress) instead.  These restrictions are due to our [optimistic locking/concurrency control](https://transcom.github.io/mymove-docs/docs/dev/contributing/backend/use-optimistic-locking) mechanism.  Note that some fields cannot be manually changed but will still be updated automatically, such as `primeEstimatedWeightRecordedDate` and `requiredDeliveryDate`. 
    # @param mto_shipment_id [String] UUID of the shipment being updated.
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateMTOShipment] 
    # @param [Hash] opts the optional parameters
    # @return [MTOShipment]
    def update_mto_shipment(mto_shipment_id, if_match, body, opts = {})
      data, _status_code, _headers = update_mto_shipment_with_http_info(mto_shipment_id, if_match, body, opts)
      data
    end

    # updateMTOShipment
    # _[Deprecated: sunset on August 5th, 2024]_ This endpoint is deprecated and will be removed in a future version. Please use the new endpoint at &#x60;/prime/v2/updateMTOShipment&#x60; instead.  **DEPRECATION ON AUGUST 5TH, 2024** Following deprecation, there is an edge case scenario where a PPM shipment with no addresses could be updated and it would also update the final destination SIT address for SIT service items. This edge case has been removed as you should not be able to update items using this endpoint. Third-party APIs have confirmed they will require deprecation for this change.  Updates an existing shipment for a move.  Note that there are some restrictions on nested objects:  * Service items: You cannot add or update service items using this endpoint. Please use [createMTOServiceItem](#operation/createMTOServiceItem) and [updateMTOServiceItem](#operation/updateMTOServiceItem) instead. * Agents: You cannot add or update agents using this endpoint. Please use [createMTOAgent](#operation/createMTOAgent) and [updateMTOAgent](#operation/updateMTOAgent) instead. * Addresses: You can add new addresses using this endpoint (and must use this endpoint to do so), but you cannot update existing ones. Please use [updateMTOShipmentAddress](#operation/updateMTOShipmentAddress) instead.  These restrictions are due to our [optimistic locking/concurrency control](https://transcom.github.io/mymove-docs/docs/dev/contributing/backend/use-optimistic-locking) mechanism.  Note that some fields cannot be manually changed but will still be updated automatically, such as &#x60;primeEstimatedWeightRecordedDate&#x60; and &#x60;requiredDeliveryDate&#x60;. 
    # @param mto_shipment_id [String] UUID of the shipment being updated.
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateMTOShipment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MTOShipment, Integer, Hash)>] MTOShipment data, response status code and response headers
    def update_mto_shipment_with_http_info(mto_shipment_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_mto_shipment ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_mto_shipment"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_mto_shipment"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_mto_shipment"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MTOShipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_mto_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_mto_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateMTOShipmentAddress
    # ### Functionality This endpoint is used to **update** the pickup, secondary, and destination addresses on an MTO Shipment. mto-shipments/{mtoShipmentID}/shipment-address-updates is for updating a delivery address. The address details completely replace the original, except for the UUID. Therefore a complete address should be sent in the request. When a destination address on a shipment is updated, the destination SIT service items address ID will also be updated so that shipment and service item final destinations match.  This endpoint **cannot create** an address. To create an address on an MTO shipment, the caller must use [updateMTOShipment](#operation/updateMTOShipment) as the parent shipment has to be updated with the appropriate link to the address.  ### Errors The address must be associated with the mtoShipment passed in the url. In other words, it should be listed as pickupAddress, destinationAddress, secondaryPickupAddress or secondaryDeliveryAddress on the mtoShipment provided. If it is not, caller will receive a **Conflict** Error.  The mtoShipment should be associated with an MTO that is available to prime. If the caller requests an update to an address, and the shipment is not on an available MTO, the caller will receive a **NotFound** Error. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the address
    # @param address_id [String] UUID of the address being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [Address] 
    # @param [Hash] opts the optional parameters
    # @return [Address]
    def update_mto_shipment_address(mto_shipment_id, address_id, if_match, body, opts = {})
      data, _status_code, _headers = update_mto_shipment_address_with_http_info(mto_shipment_id, address_id, if_match, body, opts)
      data
    end

    # updateMTOShipmentAddress
    # ### Functionality This endpoint is used to **update** the pickup, secondary, and destination addresses on an MTO Shipment. mto-shipments/{mtoShipmentID}/shipment-address-updates is for updating a delivery address. The address details completely replace the original, except for the UUID. Therefore a complete address should be sent in the request. When a destination address on a shipment is updated, the destination SIT service items address ID will also be updated so that shipment and service item final destinations match.  This endpoint **cannot create** an address. To create an address on an MTO shipment, the caller must use [updateMTOShipment](#operation/updateMTOShipment) as the parent shipment has to be updated with the appropriate link to the address.  ### Errors The address must be associated with the mtoShipment passed in the url. In other words, it should be listed as pickupAddress, destinationAddress, secondaryPickupAddress or secondaryDeliveryAddress on the mtoShipment provided. If it is not, caller will receive a **Conflict** Error.  The mtoShipment should be associated with an MTO that is available to prime. If the caller requests an update to an address, and the shipment is not on an available MTO, the caller will receive a **NotFound** Error. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the address
    # @param address_id [String] UUID of the address being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [Address] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Address, Integer, Hash)>] Address data, response status code and response headers
    def update_mto_shipment_address_with_http_info(mto_shipment_id, address_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_mto_shipment_address ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_mto_shipment_address"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling MtoShipmentApi.update_mto_shipment_address"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_mto_shipment_address"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_mto_shipment_address"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/addresses/{addressID}'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s)).sub('{' + 'addressID' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Address'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_mto_shipment_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_mto_shipment_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateMTOShipmentStatus
    # ### Functionality This endpoint should be used by the Prime to confirm the cancellation of a shipment. It allows the shipment status to be changed to \"CANCELED.\" Currently, the Prime cannot update the shipment to any other status. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateMTOShipmentStatus] 
    # @param [Hash] opts the optional parameters
    # @return [MTOShipment]
    def update_mto_shipment_status(mto_shipment_id, if_match, body, opts = {})
      data, _status_code, _headers = update_mto_shipment_status_with_http_info(mto_shipment_id, if_match, body, opts)
      data
    end

    # updateMTOShipmentStatus
    # ### Functionality This endpoint should be used by the Prime to confirm the cancellation of a shipment. It allows the shipment status to be changed to \&quot;CANCELED.\&quot; Currently, the Prime cannot update the shipment to any other status. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the agent
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateMTOShipmentStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MTOShipment, Integer, Hash)>] MTOShipment data, response status code and response headers
    def update_mto_shipment_status_with_http_info(mto_shipment_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_mto_shipment_status ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_mto_shipment_status"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_mto_shipment_status"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_mto_shipment_status"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/status'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MTOShipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_mto_shipment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_mto_shipment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateReweigh
    # ### Functionality This endpoint can be used to update a reweigh with a new weight or to provide the reason why a reweigh did not occur. Only one of weight or verificationReason should be sent in the request body.  A reweigh is the second recorded weight for a shipment, as validated by certified weight tickets. Applies to one shipment. A reweigh can be triggered automatically, or requested by the customer or transportation office. Not all shipments are reweighed, so not all shipments will have a reweigh weight. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the reweigh
    # @param reweigh_id [String] UUID of the reweigh being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateReweigh] 
    # @param [Hash] opts the optional parameters
    # @return [Reweigh]
    def update_reweigh(mto_shipment_id, reweigh_id, if_match, body, opts = {})
      data, _status_code, _headers = update_reweigh_with_http_info(mto_shipment_id, reweigh_id, if_match, body, opts)
      data
    end

    # updateReweigh
    # ### Functionality This endpoint can be used to update a reweigh with a new weight or to provide the reason why a reweigh did not occur. Only one of weight or verificationReason should be sent in the request body.  A reweigh is the second recorded weight for a shipment, as validated by certified weight tickets. Applies to one shipment. A reweigh can be triggered automatically, or requested by the customer or transportation office. Not all shipments are reweighed, so not all shipments will have a reweigh weight. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the reweigh
    # @param reweigh_id [String] UUID of the reweigh being updated
    # @param if_match [String] Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateReweigh] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reweigh, Integer, Hash)>] Reweigh data, response status code and response headers
    def update_reweigh_with_http_info(mto_shipment_id, reweigh_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_reweigh ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_reweigh"
      end
      # verify the required parameter 'reweigh_id' is set
      if @api_client.config.client_side_validation && reweigh_id.nil?
        fail ArgumentError, "Missing the required parameter 'reweigh_id' when calling MtoShipmentApi.update_reweigh"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_reweigh"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_reweigh"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/reweighs/{reweighID}'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s)).sub('{' + 'reweighID' + '}', CGI.escape(reweigh_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Reweigh'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_reweigh",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_reweigh\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updateShipmentDestinationAddress
    # ### Functionality This endpoint is used so the Prime can request an **update** for the destination address on an MTO Shipment, after the destination address has already been approved. If automatically approved or TOO approves, this will update the final destination address values for destination SIT service items to be the same as the changed destination address that was approved. Address updates will be automatically approved unless they change:   - The service area   - Mileage bracket for direct delivery   - the address and the distance between the old and new address is > 50   - Domestic Short Haul to Domestic Line Haul or vice versa       - Shipments that start and end in one ZIP3 use Short Haul pricing       - Shipments that start and end in different ZIP3s use Line Haul pricing  For those, changes will require TOO approval. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the address
    # @param if_match [String] Needs to be the eTag of the mtoShipment. Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateShipmentDestinationAddress] 
    # @param [Hash] opts the optional parameters
    # @return [ShipmentAddressUpdate]
    def update_shipment_destination_address(mto_shipment_id, if_match, body, opts = {})
      data, _status_code, _headers = update_shipment_destination_address_with_http_info(mto_shipment_id, if_match, body, opts)
      data
    end

    # updateShipmentDestinationAddress
    # ### Functionality This endpoint is used so the Prime can request an **update** for the destination address on an MTO Shipment, after the destination address has already been approved. If automatically approved or TOO approves, this will update the final destination address values for destination SIT service items to be the same as the changed destination address that was approved. Address updates will be automatically approved unless they change:   - The service area   - Mileage bracket for direct delivery   - the address and the distance between the old and new address is &gt; 50   - Domestic Short Haul to Domestic Line Haul or vice versa       - Shipments that start and end in one ZIP3 use Short Haul pricing       - Shipments that start and end in different ZIP3s use Line Haul pricing  For those, changes will require TOO approval. 
    # @param mto_shipment_id [String] UUID of the shipment associated with the address
    # @param if_match [String] Needs to be the eTag of the mtoShipment. Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param body [UpdateShipmentDestinationAddress] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShipmentAddressUpdate, Integer, Hash)>] ShipmentAddressUpdate data, response status code and response headers
    def update_shipment_destination_address_with_http_info(mto_shipment_id, if_match, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_shipment_destination_address ...'
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_shipment_destination_address"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_shipment_destination_address"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_shipment_destination_address"
      end
      # resource path
      local_var_path = '/mto-shipments/{mtoShipmentID}/shipment-address-updates'.sub('{' + 'mtoShipmentID' + '}', CGI.escape(mto_shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ShipmentAddressUpdate'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MtoShipmentApi.update_shipment_destination_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_shipment_destination_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
